USE [master]
GO
/****** Object:  Database [190081]    Script Date: 6.9.2026. 16:24:56 ******/
CREATE DATABASE [190081]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'190081', FILENAME = N'/var/opt/mssql/data/190081.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'190081_log', FILENAME = N'/var/opt/mssql/data/190081_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [190081].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [190081]
GO
/****** Object:  Table [dbo].[AppointmentDetails]    Script Date: 6.9.2026. 16:24:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[ServicePrice] [float] NOT NULL,
	[ServiceDiscount] [float] NOT NULL,
	[ServiceDiscountedPrice] [float] NOT NULL,
 CONSTRAINT [PK_AppointmentDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 6.9.2026. 16:24:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[CustomerId] [int] NOT NULL,
	[OrderId] [int] NULL,
	[ReservationCreatedDate] [datetime2](7) NOT NULL,
	[ReservationDate] [datetime2](7) NOT NULL,
	[EstimatedCompletionDate] [datetime2](7) NULL,
	[CompletionDate] [datetime2](7) NULL,
	[TotalAmount] [float] NOT NULL,
	[CarModelId] [int] NOT NULL,
	[TotalDuration] [time](7) NOT NULL,
	[State] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[PaymentIntentId] [nvarchar](100) NULL,
	[DeletedByShop] [bit] NOT NULL,
	[DeletedByCustomer] [bit] NOT NULL,
	[RejectionReason] [nvarchar](500) NULL,
	[CancellationReason] [nvarchar](500) NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthTokens]    Script Date: 6.9.2026. 16:24:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[UserId] [int] NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[Revoked] [datetime2](7) NULL,
 CONSTRAINT [PK_AuthTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AutoShopServices]    Script Date: 6.9.2026. 16:24:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutoShopServices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [float] NOT NULL,
	[Discount] [float] NOT NULL,
	[DiscountedPrice] [float] NOT NULL,
	[Image] [varbinary](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ServiceTypeId] [int] NOT NULL,
	[State] [nvarchar](max) NOT NULL,
	[Details] [nvarchar](max) NULL,
	[Duration] [time](7) NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarManufacturers]    Script Date: 6.9.2026. 16:24:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarManufacturers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CarManufacturers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarModels]    Script Date: 6.9.2026. 16:24:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ModelYear] [nvarchar](10) NOT NULL,
	[CarManufacturerId] [int] NOT NULL,
 CONSTRAINT [PK_CarModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 6.9.2026. 16:24:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 6.9.2026. 16:24:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[TotalItemPrice] [float] NOT NULL,
	[TotalItemPriceDiscounted] [float] NOT NULL,
	[Discount] [float] NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6.9.2026. 16:24:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[EmployeeId] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[ShippingDate] [datetime2](7) NOT NULL,
	[TotalAmount] [float] NOT NULL,
	[ShippingAddress] [nvarchar](255) NOT NULL,
	[PostalCode] [nvarchar](20) NOT NULL,
	[CityId] [int] NOT NULL,
	[PaymentIntentId] [nvarchar](100) NULL,
	[State] [nvarchar](50) NOT NULL,
	[DeletedByShop] [bit] NOT NULL,
	[DeletedByCustomer] [bit] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCarModels]    Script Date: 6.9.2026. 16:24:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCarModels](
	[ProductId] [int] NOT NULL,
	[CarModelId] [int] NOT NULL,
 CONSTRAINT [PK_ProductCarModels] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[CarModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 6.9.2026. 16:24:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ProductCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductReviews]    Script Date: 6.9.2026. 16:24:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ProductId] [int] NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[OrderItemId] [int] NULL,
 CONSTRAINT [PK_ProductReviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6.9.2026. 16:24:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Price] [float] NOT NULL,
	[Discount] [float] NOT NULL,
	[DiscountedPrice] [float] NOT NULL,
	[State] [nvarchar](max) NOT NULL,
	[ProductCategoryId] [int] NULL,
	[Image] [varbinary](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6.9.2026. 16:24:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceTypes]    Script Date: 6.9.2026. 16:24:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Image] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_ServiceTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffReviews]    Script Date: 6.9.2026. 16:24:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffReviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[EmployeeId] [int] NULL,
	[Rating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[AppointmentId] [int] NULL,
 CONSTRAINT [PK_StaffReviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6.9.2026. 16:24:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[CityId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppointmentDetails] ON 

INSERT [dbo].[AppointmentDetails] ([Id], [AppointmentId], [ServiceId], [ServiceName], [ServicePrice], [ServiceDiscount], [ServiceDiscountedPrice]) VALUES (1, 1, 3, N'Vanjsko Poliranje & Vosak', 80, 0.1, 72)
INSERT [dbo].[AppointmentDetails] ([Id], [AppointmentId], [ServiceId], [ServiceName], [ServicePrice], [ServiceDiscount], [ServiceDiscountedPrice]) VALUES (2, 2, 1, N'AC Refill (R134a)', 40, 0, 40)
INSERT [dbo].[AppointmentDetails] ([Id], [AppointmentId], [ServiceId], [ServiceName], [ServicePrice], [ServiceDiscount], [ServiceDiscountedPrice]) VALUES (3, 2, 5, N'Zamjena Guma (4kom) + Balans', 30, 0, 30)
SET IDENTITY_INSERT [dbo].[AppointmentDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([Id], [EmployeeId], [CustomerId], [OrderId], [ReservationCreatedDate], [ReservationDate], [EstimatedCompletionDate], [CompletionDate], [TotalAmount], [CarModelId], [TotalDuration], [State], [Type], [PaymentIntentId], [DeletedByShop], [DeletedByCustomer], [RejectionReason], [CancellationReason]) VALUES (1, 3, 5, NULL, CAST(N'2026-05-22T14:23:34.6300000' AS DateTime2), CAST(N'2026-01-22T09:00:00.0000000' AS DateTime2), CAST(N'2026-01-22T12:00:00.0000000' AS DateTime2), NULL, 72, 1, CAST(N'03:00:00' AS Time), N'scheduled', N'service', NULL, 0, 0, NULL, NULL)
INSERT [dbo].[Appointments] ([Id], [EmployeeId], [CustomerId], [OrderId], [ReservationCreatedDate], [ReservationDate], [EstimatedCompletionDate], [CompletionDate], [TotalAmount], [CarModelId], [TotalDuration], [State], [Type], [PaymentIntentId], [DeletedByShop], [DeletedByCustomer], [RejectionReason], [CancellationReason]) VALUES (2, 3, 6, NULL, CAST(N'2026-05-22T14:23:34.6300000' AS DateTime2), CAST(N'2026-01-25T10:00:00.0000000' AS DateTime2), CAST(N'2026-01-25T11:30:00.0000000' AS DateTime2), NULL, 70, 2, CAST(N'01:30:00' AS Time), N'scheduled', N'service', NULL, 0, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[AuthTokens] ON 

INSERT [dbo].[AuthTokens] ([Id], [Value], [UserId], [Created], [Revoked]) VALUES (1, N'token-manager-admin', 1, CAST(N'2026-05-22T14:24:26.6061774' AS DateTime2), NULL)
INSERT [dbo].[AuthTokens] ([Id], [Value], [UserId], [Created], [Revoked]) VALUES (2, N'token-customer-selma', 5, CAST(N'2026-05-22T14:24:26.6061774' AS DateTime2), NULL)
INSERT [dbo].[AuthTokens] ([Id], [Value], [UserId], [Created], [Revoked]) VALUES (3, N'token-customer-emina', 6, CAST(N'2026-05-22T14:24:26.6061774' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[AuthTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[AutoShopServices] ON 

INSERT [dbo].[AutoShopServices] ([Id], [Name], [Price], [Discount], [DiscountedPrice], [Image], [Description], [ServiceTypeId], [State], [Details], [Duration]) VALUES (1, N'AC Refill (R134a)', 40, 0, 40, 0x64656661756C742E706E67, N'Nadopuna rashladnog sredstva i provjera curenja.', 1, N'active', NULL, CAST(N'01:00:00' AS Time))
INSERT [dbo].[AutoShopServices] ([Id], [Name], [Price], [Discount], [DiscountedPrice], [Image], [Description], [ServiceTypeId], [State], [Details], [Duration]) VALUES (2, N'AC Dezinfekcija', 25, 0, 25, 0x64656661756C742E706E67, N'Dezinfekcija isparivača i ventilacije.', 1, N'hidden', NULL, CAST(N'00:45:00' AS Time))
INSERT [dbo].[AutoShopServices] ([Id], [Name], [Price], [Discount], [DiscountedPrice], [Image], [Description], [ServiceTypeId], [State], [Details], [Duration]) VALUES (3, N'Vanjsko Poliranje & Vosak', 80, 0.1, 72, 0x64656661756C742E706E67, N'Machine polish + zaštitni vosak.', 2, N'active', NULL, CAST(N'02:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[AutoShopServices] OFF
GO
SET IDENTITY_INSERT [dbo].[CarManufacturers] ON 

INSERT [dbo].[CarManufacturers] ([Id], [Name]) VALUES (1, N'Volkswagen')
INSERT [dbo].[CarManufacturers] ([Id], [Name]) VALUES (2, N'Toyota')
INSERT [dbo].[CarManufacturers] ([Id], [Name]) VALUES (3, N'Ford')
SET IDENTITY_INSERT [dbo].[CarManufacturers] OFF
GO
SET IDENTITY_INSERT [dbo].[CarModels] ON 

INSERT [dbo].[CarModels] ([Id], [Name], [ModelYear], [CarManufacturerId]) VALUES (1, N'Golf Mk4', N'1997-2003', 1)
INSERT [dbo].[CarModels] ([Id], [Name], [ModelYear], [CarManufacturerId]) VALUES (2, N'Passat B5.5', N'1996-2005', 1)
INSERT [dbo].[CarModels] ([Id], [Name], [ModelYear], [CarManufacturerId]) VALUES (3, N'Corolla E120', N'2000-2006', 2)
SET IDENTITY_INSERT [dbo].[CarModels] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [Name]) VALUES (1, N'Mostar')
INSERT [dbo].[Cities] ([Id], [Name]) VALUES (2, N'Sarajevo')
INSERT [dbo].[Cities] ([Id], [Name]) VALUES (3, N'Banja Luka')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [TotalItemPrice], [TotalItemPriceDiscounted], [Discount]) VALUES (1, 1, 1, 1, 12.5, 12.5, 12.5, 0)
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [TotalItemPrice], [TotalItemPriceDiscounted], [Discount]) VALUES (2, 1, 7, 3, 8.5, 25.5, 25.5, 0)
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity], [UnitPrice], [TotalItemPrice], [TotalItemPriceDiscounted], [Discount]) VALUES (3, 1, 8, 2, 12, 24, 24, 0)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [CustomerId], [EmployeeId], [OrderDate], [ShippingDate], [TotalAmount], [ShippingAddress], [PostalCode], [CityId], [PaymentIntentId], [State], [DeletedByShop], [DeletedByCustomer]) VALUES (1, 5, 2, CAST(N'2026-05-22T14:22:37.7066667' AS DateTime2), CAST(N'2026-05-24T14:22:37.7066667' AS DateTime2), 149.99, N'Bulevar 12', N'71000', 2, N'pi_test_123456', N'pending', 0, 0)
INSERT [dbo].[Orders] ([Id], [CustomerId], [EmployeeId], [OrderDate], [ShippingDate], [TotalAmount], [ShippingAddress], [PostalCode], [CityId], [PaymentIntentId], [State], [DeletedByShop], [DeletedByCustomer]) VALUES (2, 6, 2, CAST(N'2026-05-19T14:22:37.7066667' AS DateTime2), CAST(N'2026-05-21T14:22:37.7066667' AS DateTime2), 89.5, N'Kralja Tvrtka 19', N'88000', 1, N'pi_test_789101', N'shipped', 0, 0)
INSERT [dbo].[Orders] ([Id], [CustomerId], [EmployeeId], [OrderDate], [ShippingDate], [TotalAmount], [ShippingAddress], [PostalCode], [CityId], [PaymentIntentId], [State], [DeletedByShop], [DeletedByCustomer]) VALUES (3, 5, 8, CAST(N'2026-05-12T14:22:37.7066667' AS DateTime2), CAST(N'2026-05-15T14:22:37.7066667' AS DateTime2), 320, N'Ferhadija 55', N'71000', 2, NULL, N'delivered', 0, 0)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[ProductCarModels] ([ProductId], [CarModelId]) VALUES (2, 1)
INSERT [dbo].[ProductCarModels] ([ProductId], [CarModelId]) VALUES (2, 3)
INSERT [dbo].[ProductCarModels] ([ProductId], [CarModelId]) VALUES (2, 4)
GO
SET IDENTITY_INSERT [dbo].[ProductCategories] ON 

INSERT [dbo].[ProductCategories] ([Id], [Name]) VALUES (1, N'Car Care / Cosmetics')
INSERT [dbo].[ProductCategories] ([Id], [Name]) VALUES (2, N'Wipers')
INSERT [dbo].[ProductCategories] ([Id], [Name]) VALUES (3, N'Gear Knobs & Interior Trim')
SET IDENTITY_INSERT [dbo].[ProductCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductReviews] ON 

INSERT [dbo].[ProductReviews] ([Id], [UserId], [ProductId], [Rating], [Comment], [CreatedAt], [OrderItemId]) VALUES (1, 5, 2, 5, N'Veoma dobar metlić, tih i čisti odlično.', CAST(N'2026-05-22T14:23:58.1905192' AS DateTime2), NULL)
INSERT [dbo].[ProductReviews] ([Id], [UserId], [ProductId], [Rating], [Comment], [CreatedAt], [OrderItemId]) VALUES (2, 6, 6, 4, N'Dobra guma za cijenu, držanje ok na kiši.', CAST(N'2026-05-22T14:23:58.1905192' AS DateTime2), NULL)
INSERT [dbo].[ProductReviews] ([Id], [UserId], [ProductId], [Rating], [Comment], [CreatedAt], [OrderItemId]) VALUES (3, 7, 10, 5, N'OBD skener radi i na mom starom Passatu.', CAST(N'2026-05-22T14:23:58.1905192' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ProductReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Price], [Discount], [DiscountedPrice], [State], [ProductCategoryId], [Image], [Description]) VALUES (1, N'Sonax Klima Clean (bomba)', 12.5, 0, 12.5, N'active', 1, NULL, N'Jednokratna bomba za dezinfekciju klime.')
INSERT [dbo].[Products] ([Id], [Name], [Price], [Discount], [DiscountedPrice], [State], [ProductCategoryId], [Image], [Description]) VALUES (2, N'Premium Wiper Blade 22"', 9.99, 0.05, 9.49, N'active', 2, NULL, N'Grafitni metlić 22 inča.')
INSERT [dbo].[Products] ([Id], [Name], [Price], [Discount], [DiscountedPrice], [State], [ProductCategoryId], [Image], [Description]) VALUES (3, N'Kožna Ručica Mjenjača', 19.95, 0, 19.95, N'active', 3, NULL, N'Univerzalna kožna ručica.')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [Description]) VALUES (1, N'manager', N'Full system access')
INSERT [dbo].[Roles] ([Id], [Name], [Description]) VALUES (2, N'customer', N'Kupac / klijent')
INSERT [dbo].[Roles] ([Id], [Name], [Description]) VALUES (3, N'salesperson', N'Zaposlenik prodaje')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceTypes] ON 

INSERT [dbo].[ServiceTypes] ([Id], [Name], [Image]) VALUES (1, N'AC & Climate', 0x64656661756C742E706E67)
INSERT [dbo].[ServiceTypes] ([Id], [Name], [Image]) VALUES (2, N'Detailing', 0x64656661756C742E706E67)
INSERT [dbo].[ServiceTypes] ([Id], [Name], [Image]) VALUES (3, N'Tire & Wheel', 0x64656661756C742E706E67)
SET IDENTITY_INSERT [dbo].[ServiceTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[StaffReviews] ON 

INSERT [dbo].[StaffReviews] ([Id], [UserId], [EmployeeId], [Rating], [Comment], [CreatedAt], [AppointmentId]) VALUES (1, 5, 3, 5, N'Jasna je brzo riješila problem sa klimom.', CAST(N'2026-05-22T14:24:16.873' AS DateTime), NULL)
INSERT [dbo].[StaffReviews] ([Id], [UserId], [EmployeeId], [Rating], [Comment], [CreatedAt], [AppointmentId]) VALUES (2, 6, 4, 4, N'Lejla je odradila odlično poliranje vozila.', CAST(N'2026-05-22T14:24:16.873' AS DateTime), NULL)
INSERT [dbo].[StaffReviews] ([Id], [UserId], [EmployeeId], [Rating], [Comment], [CreatedAt], [AppointmentId]) VALUES (3, 7, 2, 5, N'Amir je bio veoma ljubazan i profesionalan.', CAST(N'2026-05-22T14:24:16.873' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[StaffReviews] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Surname], [Username], [Email], [PasswordHash], [Image], [Phone], [Gender], [CityId], [RoleId], [Active], [CreatedAt], [Address], [PostalCode]) VALUES (1, N'Korisnik', N'Korisnik', N'manager.admin', N'korisnik.korisnik@gmail.com', N'$2a$11$3UmLSmntOtvERphR9unoi.qqskPMpmM6L1tW5BaKip4T3P.wr8sZ6', NULL, N'+387 61 000 001', N'Male', 2, 1, 1, CAST(N'2026-05-22T14:21:41.5232160' AS DateTime2), N'Zmaja od Bosne 15', N'71000')
INSERT [dbo].[Users] ([Id], [Name], [Surname], [Username], [Email], [PasswordHash], [Image], [Phone], [Gender], [CityId], [RoleId], [Active], [CreatedAt], [Address], [PostalCode]) VALUES (2, N'Amir', N'Hodžić', N'sales.amir', N'amir.hodzic@example.com', N'$2a$11$WFCxMg7iFz4ujGzegBmN4ONfrM4AolxJoLJXFM8KJxsiT76B/.ki6', NULL, N'+387 61 000 002', N'Male', 1, 3, 1, CAST(N'2026-05-22T14:21:41.5232160' AS DateTime2), N'Maršala Tita 22', N'88000')
INSERT [dbo].[Users] ([Id], [Name], [Surname], [Username], [Email], [PasswordHash], [Image], [Phone], [Gender], [CityId], [RoleId], [Active], [CreatedAt], [Address], [PostalCode]) VALUES (3, N'Jasna', N'Kovačević', N'tech.jasna', N'jasna.kovacevic@example.com', N'$2a$11$3M/Mesf7I8yjJ7AosBSzXuciTAD4t5ue6E8AXr2uAgTgQAXVjbNNS', NULL, N'+387 61 000 003', N'Female', 1, 4, 1, CAST(N'2026-05-22T14:21:41.5232160' AS DateTime2), N'Aleksa Šantića 8', N'88000')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UX_ProductReviews_OrderItemId]    Script Date: 6.9.2026. 16:24:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ProductReviews_OrderItemId] ON [dbo].[ProductReviews]
(
	[OrderItemId] ASC
)
WHERE ([OrderItemId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_StaffReviews_AppointmentId]    Script Date: 6.9.2026. 16:24:56 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_StaffReviews_AppointmentId] ON [dbo].[StaffReviews]
(
	[AppointmentId] ASC
)
WHERE ([AppointmentId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (getdate()) FOR [ReservationCreatedDate]
GO
ALTER TABLE [dbo].[AuthTokens] ADD  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StaffReviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AppointmentDetails]  WITH CHECK ADD  CONSTRAINT [FK_AppointmentDetails_Appointments] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
GO
ALTER TABLE [dbo].[AppointmentDetails] CHECK CONSTRAINT [FK_AppointmentDetails_Appointments]
GO
ALTER TABLE [dbo].[AppointmentDetails]  WITH CHECK ADD  CONSTRAINT [FK_AppointmentDetails_Services] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[AutoShopServices] ([Id])
GO
ALTER TABLE [dbo].[AppointmentDetails] CHECK CONSTRAINT [FK_AppointmentDetails_Services]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_CarModels] FOREIGN KEY([CarModelId])
REFERENCES [dbo].[CarModels] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_CarModels]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Orders_OrderId]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Users_CustomerId]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Users_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Users_EmployeeId]
GO
ALTER TABLE [dbo].[AuthTokens]  WITH CHECK ADD  CONSTRAINT [FK_AuthTokens_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AuthTokens] CHECK CONSTRAINT [FK_AuthTokens_Users]
GO
ALTER TABLE [dbo].[AutoShopServices]  WITH CHECK ADD  CONSTRAINT [FK_Services_ServiceTypes] FOREIGN KEY([ServiceTypeId])
REFERENCES [dbo].[ServiceTypes] ([Id])
GO
ALTER TABLE [dbo].[AutoShopServices] CHECK CONSTRAINT [FK_Services_ServiceTypes]
GO
ALTER TABLE [dbo].[CarModels]  WITH CHECK ADD  CONSTRAINT [FK_CarModels_Manufacturers] FOREIGN KEY([CarManufacturerId])
REFERENCES [dbo].[CarManufacturers] ([Id])
GO
ALTER TABLE [dbo].[CarModels] CHECK CONSTRAINT [FK_CarModels_Manufacturers]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Cities] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Cities]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_CustomerId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_EmployeeId]
GO
ALTER TABLE [dbo].[ProductCarModels]  WITH CHECK ADD  CONSTRAINT [FK_ProductCarModels_CarModels] FOREIGN KEY([CarModelId])
REFERENCES [dbo].[CarModels] ([Id])
GO
ALTER TABLE [dbo].[ProductCarModels] CHECK CONSTRAINT [FK_ProductCarModels_CarModels]
GO
ALTER TABLE [dbo].[ProductCarModels]  WITH CHECK ADD  CONSTRAINT [FK_ProductCarModels_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductCarModels] CHECK CONSTRAINT [FK_ProductCarModels_Products]
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD  CONSTRAINT [FK_ProductReviews_OrderItems] FOREIGN KEY([OrderItemId])
REFERENCES [dbo].[OrderItems] ([Id])
GO
ALTER TABLE [dbo].[ProductReviews] CHECK CONSTRAINT [FK_ProductReviews_OrderItems]
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD  CONSTRAINT [FK_ProductReviews_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductReviews] CHECK CONSTRAINT [FK_ProductReviews_Products]
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD  CONSTRAINT [FK_ProductReviews_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ProductReviews] CHECK CONSTRAINT [FK_ProductReviews_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductCategories] FOREIGN KEY([ProductCategoryId])
REFERENCES [dbo].[ProductCategories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductCategories]
GO
ALTER TABLE [dbo].[StaffReviews]  WITH CHECK ADD  CONSTRAINT [FK_StaffReviews_Appointments] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([Id])
GO
ALTER TABLE [dbo].[StaffReviews] CHECK CONSTRAINT [FK_StaffReviews_Appointments]
GO
ALTER TABLE [dbo].[StaffReviews]  WITH CHECK ADD  CONSTRAINT [FK_StaffReviews_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[StaffReviews] CHECK CONSTRAINT [FK_StaffReviews_EmployeeId]
GO
ALTER TABLE [dbo].[StaffReviews]  WITH CHECK ADD  CONSTRAINT [FK_StaffReviews_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[StaffReviews] CHECK CONSTRAINT [FK_StaffReviews_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Cities] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Cities]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
